html, body {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
}

p, div {
  margin: 0;
  padding: 0;
}

body.green {
  background-color: #EBFAEB;
}

body.red {
  background-color: #FFEBE6;
}

.fact {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 22em;
  margin-top: -7em;
  text-align: center;
  white-space: nowrap;
  opacity: 0.85;
}

.status {
  font-size: 5em;
}

.caption {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 1em;
}

@media (max-width: 750px) {
  .status {
    font-size: 4em;
  }

  .caption {
    font-size: 0.8em;
  }
}


.city-select {
  border-bottom: 2px dashed gray;
  user-select: none;
}
